set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=devo;userid=root;password=;" 
endpoint_add_tcp "0.0.0.0:30120" 
endpoint_add_udp "0.0.0.0:30120" 

set servernumber "1"

exec server_resources.cfg
exec server_global_settings.cfg

sv_scriptHookAllowed 1

sv_hostname "Local Host Test Server"

# convars for use from script
set temp_convar "hey world!"

# hide player endpoints in external log output
sv_endpointprivacy true

#server logo
load_server_icon logo.png

# server slots limit (default to 32)
sv_maxclients 1

# license key for server (https://keymaster.fivem.net)
sv_licenseKey lr3sxkfzz1tsg7ex11v8bk0ot2yg8g7n

set onesync_enabled 1

# disable announcing? clear out the master by uncommenting this
sv_master1 "1"

sets locale "da-DK"

set steam_webApiKey "40CEB8117E0CF8EF9C83F816B00BD7F9"

add_ace resource.uptime command.sets allow

set ac_webhook "https://discordapp.com/api/webhooks/640569557203025930/kxsb-cmtikYK0svQD6bTRTw4MaOeMdOO2dkaa7kN7N5CKX1LFP6UkyvBVbQyZT5Sd_I-"

add_ace group.admin anticheese.bypass allow

add_ace FZACAdmins fzacadmins allow
